@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto:wght@400;500&display=swap");

@tailwind base;

@layer base {
  :root {
    --color-theme-yellow: 243 198 21;
    --color-theme-pink: 233 91 154;
    --color-theme-gray: 90 90 90;
  }

  html,
  body {
    @apply h-full;
  }

  #app {
    @apply h-full;
    @apply relative;
    @apply z-0;
    @apply bg-no-repeat;
    background-image: url(@/assets/wave-bg.svg);
    background-size: auto 75vh;
  }
}

@tailwind components;
@tailwind utilities;
